
body {
	background: #CCD6CC;
	font-family: 'Merriweather Sans';
}
.title {
	color: #196219;
}
.col-md-6{
	padding-top: 30px;
	padding-bottom: 100px;
	height: 300px;
	background: white;
}

.game {
	box-shadow: 5px 10px 15px #196219;
	-webkit-transform: value;
  	-moz-transform:    value;
  	-ms-transform:     value;
  	-o-transform:      value;
  	transform: perspective( 1400px ) rotateY( -25deg );

}
.directions {
	box-shadow: -5px 10px 15px #196219;
	-webkit-transform: value;
  	-moz-transform:    value;
  	-ms-transform:     value;
  	-o-transform:      value;
  	transform: perspective( 1400px ) rotateY( 25deg );
}
.game input {
	margin-top: 16px;
}
.game .btn {
	margin-top: 0px;
	background-color: #196219;
	color: white;
}

.numbers{
	margin-top:20px;
}

