
body {
	font-family: 'Gloria Hallelujah', cursive;
	color: #191919;
	background-color: #E2E2CA;
}
.title {
	color: #336C33;
	font-size: 52px;
}
.col-md-6{
	border-style: ridge;
	border-width: 25px;
	border-color: #664019;
	border-bottom: double gray 5px;
	margin-top: 30px;
	padding-top: 30px;
	padding-bottom: 100px;
	height: 340px;
	background: #1D2F2F;
	color: #BCCCAE;
}

.game {
	box-shadow: 5px 10px 15px #161F26;
	border-radius: 15px;
	-webkit-transform: value;
  	-moz-transform:    value;
  	-ms-transform:     value;
  	-o-transform:      value;
  	transform: perspective( 1400px ) rotateY( -25deg );

}
.directions {
	box-shadow: -5px 10px 15px #161F26;
	border-radius: 15px;
	-webkit-transform: value;
  	-moz-transform:    value;
  	-ms-transform:     value;
  	-o-transform:      value;
  	transform: perspective( 1400px ) rotateY( 25deg );
}
.game input {
	margin-top: -5px;
	font-size: 16px;
	padding:8px;
	background-color: #1D2F2F;
}
.game .btn {
	margin-top: -4px;
	border-style: solid;
	border-color: #BCCCAE;
	border-width: 5px;
	color: #BCCCAE;
	background-color: #1D2F2F;
	padding: 10px;
}
input .field {
	padding-top: 50px;
}
.numbers{
	margin-top:20px;
}

use media queries to undo the transform when screen shinks and
divs get put on top of each other
